.advert {
  color: #FF8929;
  font-style: italic;
}
.codecommand {
  background-color: #E0E0E0;
  font-family: Courier New, Courier, monospace;
}
.Large {
  font-size: 2em;
}
.blueShaded {
  background-color: #D6E8F5;
  font-family: Courier New, Courier, monospace;
}
.blueShaded pre:not([class]) {
    background-color: #D6E8F5;
}

/* Custom specific to my website */
body:before,
.site-header {
	background-color: #1e73be;
  display: none;
}
body {
  background-color: #1e73be;
}
    
.main-container {
        max-width: 1025px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        padding: 1em 30px 15px;
    }
